.listContainer{
    display:flex;
    justify-content: center;
    margin-top: 20px;;
}
.listWrapper{
    width:100%;
    max-width: 1024px;
    display:flex;
    gap:20px;

}
.listSearch{
    flex:1;
    background-color: #febb02;
    padding:10px;
    border-radius: 10px;
    position: sticky ;
    top:10px;
    height:max-content;
}
.lsTitle{
    font-size:20px;
    color:#555;
    margin-bottom: 20px;
}


.lsItem{
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.lsItem>label{
    font-size:12px;
}
.lsItem>input{
    height:30px;
    padding:5px;
    border:none;
}
.lsItem>span{
    height:30px;
    padding:5px;
    border:none;
    background-color: white;
    display:flex;
    align-items: center;
    cursor:pointer;
}
.lsOptionItem{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color:#555;
    font-size:12px;
}
.lsOptionInput{
    width: 50px;
}
.listResult{
    flex:3;
}
.lsOptions{
    padding:10px; 
}
.listSearch>button{
    padding:10px;
    background-color:#0071c2;
    color:white;
    border:none;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;;
}